<% provide(:title, 'Contact Us') %>
<h1>Contact Us</h1>
<p>
  This is the Contact Us page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application. If you have any questions...don't ask me...I'm trying to figure this stuff out too!
</p>
